{% extends 'admins/base_admin.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
	{% bootstrap_javascript %}
	

{% block content %}
{% if title == 'publisher' %}
<h3>Edit Publisher Entry</h3>
<div class="row">
	<div class="col-md-6 offset-md-2">
		<form method='POST'>
			{% csrf_token %}
			{{ form }}
			<br>
			<input class="btn btn-primary btn-block" type='submit' value='Edit Publisher'>
		</form>
	</div>
</div>

{% elif title == 'book' %}
<h3>Edit Book Entry</h3>

<div class="row">
	<div class="col-md-6 offset-md-2">
		<form method='POST'>
			{% csrf_token %}
			{{ form }}
			<br>
			<input class="btn btn-primary btn-block" type='submit' value='Edit Book'>
		</form>
	</div>
</div>

{% else %}

<h3>Edit Author Entry</h3>
<div class="row">
	<div class="col-md-6 offset-md-2">
		<form method='POST' enctype="multipart/form-data">
			{% csrf_token %}
			{{ form }}
			<br>
			<input class="btn btn-primary btn-block" type='submit' value='Edit Author'>
		</form>
	</div>
</div>

{% endif %}
{% endblock %}
