{% load static %}
<!Doctype html>
<html>
<head>

	<title>E-Book Store{{ title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Homoakin">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>All Library</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'core/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/templatemo-finance-business.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/mystyle.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/owjl.css' %}">

  </head>

<body style='background-color: #fff'>
	
		{% include 'header.html' %}
	
	<div class="container-fluid pt-3">
		{% block content %}


		{% endblock %}
	</div>
	  <!-- Bootstrap core JavaScript -->

    <script src="{% static 'core/js/jquery.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>